<div class="text-center row">
  <div class="padded-bottom">
    <h1 class="green-font"><%= @status %> Orders</h1>
  </div>
  <table class="table table-condensed table-hover orders orders-table">
    <%= render partial: "admin/orders/status_counts" %>
    <%= render partial: "admin/orders/table_headers" %>
    <%= render partial: "admin/orders/order", collection: @orders %>
  </table>
</div>
