<div class="text-center row">
  <div class="padded-bottom">
    <h1 class="green-font mousiness" >Account Information</h1>
  </div>
  <%= render partial: "users_info", locals: {orders_text: "All Orders"} %>
</div>
