<%= image_tag "drewprechaun.png", id: "drewprechaun" %>
<%= image_tag "unicorn_right.png", id: "princess"%>

<nav class="navbar navbar-fixed-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-center">
      <li><button type="button" class="btn btn-default navbar-btn"><%= image_tag "clover_icon.jpg", class: "clover-logo" %></button></li>
      <li><button type="button" class="btn btn-default navbar-btn"><%= image_tag "unicorn_icon.jpg", class: "unicorn-logo" %></button></li>
    </ul>
  </div>
</nav>
