<nav class="navbar navbar-fixed-top">
 <div class="container-fluid">
     <ul class="nav navbar-nav">
       <li class="brand">Lucky Charms</li>
       <li><a href="/">Home</a></li>
       <li> <%= link_to "Cart", cart_path %> <%="(#{cart_count})"%></li>
     </ul>
 </div>
</nav>
