<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="brand">Lucky Charms</li>
      <li><a href="/">Home</a></li>
       <li> <%= link_to "Cart", cart_path %> <%="(#{cart_count})"%></li>
      <li>
        <% if current_user %>
          <%= link_to "Logout", logout_path, method: :delete %>
        <% else %>
          <%= link_to "Login", login_path %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
