<tr>
  <td class="mousiness"><h5><%= link_to "##{order.id}", order_path(order.id) %></h5></td>
  <td class="mousiness"><h5><%= order.status %></h5></td>
  <td class="mousiness"><h5><%= order.formatted_creation_date %></h5></td>
</tr>
