<div class="text-center row">
  <div class="padded-bottom">
    <h1 class="green-font mousiness">All Orders</h1>
  </div>
  <table class="table table-condensed table-hover orders orders-table">
    <tr>
      <th class="mousiness text-center"><h4>Order #</h4></th>
      <th class="mousiness text-center"><h4>Status</h4></th>
      <th class="mousiness text-center"><h4>Placed on</h4></th>
    </tr>
    <%= render partial: "order", collection: @orders %>
  </table>
</div>
