<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/images/horseshoe.png" alt="Category 1">
      <div class="carousel-caption">
        <h3 class="animated bounceInLeft">
          This is awesome
        </h3>
        <p class="animated bounceInRight">
          You should checkout these items!
        </p>
      </div>
    </div>
    <div class="item">
      <img src="/images/horseshoe.png" alt="Category 1">
      <div class="carousel-caption">
        <h3>Here's more awesomeness</h3>
        <p>Buy now to bring luck!</p>
      </div>
    </div>
    <div class="item">
      <img src="/images/horseshoe.png" alt="Category 1">
      <div class="carousel-caption">
        <h3>Here's a third incredible charm!</h3>
        <p>Today can be your lucky day!</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="well">
  <div class="text-center row">
    <div class="padded-bottom">
      <h1 class="green-font mousiness" >Featured Collections</h1>
    </div>
    <div class="items mousiness green-font">
      <div class="col-md-4">
        <div class="item-display">
          <h2>Category 1</h2>
          <img src="/images/Penny.png" alt="Category 1">
        </div>
      </div>
    </div>
    <div class="items mousiness green-font">
      <div class="col-md-4">
        <div class="item-display">
          <h2>Category 2</h2>
          <img src="/images/Penny.png" alt="Category 1">
        </div>
      </div>
    </div>
    <div class="items mousiness green-font">
      <div class="col-md-4">
        <div class="item-display">
          <h2>Category 3</h2>
          <img src="/images/Penny.png" alt="Category 1">
        </div>
      </div>
    </div>
  </div>
</div>
