<div class="col-md-4">
  <div class="item-display">
    <%= link_to image_tag(item.image), item_path(item.id)%>
    <div class="item-description text-center">
    <div class="mousiness btn-font-size green-font">
      <h4><%= link_to "#{item.title}", item_path(item.id), class: "green-font" %></h4>
    </div>
    <div class="btn-pricing"><%= item.formatted_price %></div>
    <%= button_to "Add to Cart", cart_items_path(item_id: item.id),
        class: "btn item-btn mousiness btn-font-size" %>
    </div>
  </div>
</div>
