<div class="well">
  <div class="text-center row">
    <div class="padded-bottom">
      <h1 class="green-font mousiness" >All Items</h1>
      <h4 class="green-font mousiness" >These glorious items will increase your luck.</h4>
    </div>
    <div class="items">
      <%= render partial: "shared/item", collection: @items %>
    </div>
  </div>
</div>
