<div class="well">
  <div class="text-center row">
    <div class="padded-bottom">
      <h1 class="green-font mousiness" ><%= "#{@item.title}" %></h1>
    </div>
    <%= button_to "Add to Cart", cart_items_path(item_id: @item.id), class: "btn item-btn mousiness btn-font-size" %>
  </div>
</div>
