$powderblue: #bbe2db;
$white: #FFFFFF;
$darkgreen: #006600;

h1 {
  font-size: 56px;
}

.body-bg {
  background-color: $powderblue;

}

.well {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 4px solid $white;

}

.divider {
  border-bottom: 4px solid $white;

}

.green-font {
  color: $darkgreen
}

.mousiness {
  font-family: 'Mouse Memoirs', sans-serif;
}
