$darkblue: #2b5f77;
$powderblue: #bbe2db;
$white: #ffffff;
$smokywhite: #f5f5f5;
$translucentwhite: rgba(255, 255, 255, 0.4);
$darkgreen: #006600;
$mediumgreen: #7ab55c;

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}

.navbar {
    margin-bottom: 0;
    background-color: $white;
    border: 0;
    font-size: 22px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

.big-big-font {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 62px;
  font-family: 'Mouse Memoirs', sans-serif;
  color: $darkgreen;
}

.cart-link {
  margin: 20px;

}

.body-bg {
  background-color: $powderblue;
  margin-top: 120px;

}

.well {
  background-color: $translucentwhite;
  border: 4px solid $white;
  border-radius: 50px;

}

.divider {
  border-bottom: 4px solid $white;

}

.green-font {
  color: $darkgreen;

}

.mousiness {
  font-family: 'Mouse Memoirs', sans-serif;

}

.btn-font-size {
  font-size: 26px;

}

.btn-pricing {
  color: $darkblue;
  font-family: "Source Sans Pro", "HelveticaNeue"," Helvetica Neue", sans-serif;
  font-size: 22px;

}

.item-btn {
  background-color: $mediumgreen;
  color: $white;
  margin-bottom: 10px;

}

.item-display {
  background-color: $smokywhite;
  border: 2px solid $white;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 25px 0;

}

.item-description {
  background-color: $white;
  border: 3px solid $darkgreen;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}

.item-display img {
  background-color: $white;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 80%;

}

.padded-bottom {
  border-bottom: 4px solid $white;
  margin-bottom: 50px;

}

.padded-top {
  border-top: 4px solid $white;
  margin-top: 50px;

}

.padded-right {
  margin-right: 50px;

}
