.clover-logo {
  align-content: center;
  height: 50px;
  position: relative;
  width: 50px;
  z-index: 4;
}

.unicorn-logo {
  align-content: center;
  height: 50px;
  position: relative;
  width: 50px;
  z-index: 4;
}

#drewprechaun {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  z-index: 2000;

}

#princess {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  z-index: 2000;

}
