$darkblue: #2b5f77;
$powderblue: #bbe2db;
$white: #ffffff;
$smokywhite: #f5f5f5;
$translucentwhite: rgba(255, 255, 255, 0.7);
$darkgreen: #006600;
$mediumgreen: #7ab55c;

body {
  font-family: 'Mouse Memoirs', sans-serif;

}

.big-big-font {
  color: $darkgreen;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 62px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

h1 {
  font-size: 56px;
  margin-bottom: 15px;
  margin-top: 0;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
  margin-top: 0;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 28px;
}

.green-font {
  color: $darkgreen;
}

.btn-font-size {
  font-size: 26px;

}
