.weather-well {
  background-color: $translucentwhite;
  border: 4px solid $white;
}

.pot-o-gold {
  align-content: center;
  height: 200px;
  position: relative;
  width: 100%;
  z-index: 4;
}

.sunshine {
  align-content: center;
  height: 200px;
  position: relative;
  width: 100%;
  z-index: 4;
}

.leprechaun {
  align-content: center;
  height: 200px;
  position: relative;
  width: 100%;
  z-index: 4;
}
