<%= form_for(:weather, url: "/weather") do |f| %>
  <h4><%= f.label :us_city, "US City" %></h4>
  <h4><%= f.text_field :us_city %></h4>
  <%= f.submit "Check Weather", class: "btn btn-success mousiness btn-font-size" %>
<% end %>
