<div class="text-center row">
  <div class="padded-bottom">
    <h1 class="green-font" >All Categories</h1>
    <h4 class="green-font" >Browse these categories to find your lucky items.</h4>
  </div>
  <div class="categories">
    <%= render partial: "categories/category", collection: @categories %>
  </div>
</div>
